@import "toastr/toastr";

// @import "chatbox";

.item-desc-input {
  height: 120px;
}

.header-left .dashboard_bar {
  font-size: 1rem;
}

.modal.show {
  display: block;
}
.modal-backdrop {
  opacity: 0.8;
}

.text-sm {
  font-size: 11px;
}

.chatbox{
  label {
    color: darkgrey;
    margin: 0;
  }
  p{
    color: black; 
    padding-top: 0;
  }
}