@import "toastr/toastr";
@import "./custom-animation";

// @import "chatbox";

.item-desc-input {
  height: 120px;
}

.header-left .dashboard_bar {
  font-size: 1rem;
}

.modal.show {
  display: block;
}
.modal-backdrop {
  opacity: 0.8;
}

.text-sm {
  font-size: 11px;
}

.chatbox {
  transition: all 0.6s;
  label {
    color: darkgrey;
    margin: 0;
  }
  p {
    color: black;
    padding-top: 0;
  }
}

.chatbox.active.has-quick-order {
  right: 19em;
}

button.nav-link {
  border: none;
}

.typeaheadset {
  position: relative;
}

.type-ahead-drop-down {
  position: absolute;
  top: 100%;
  width: 210px;
  .basic-list-group {
    background-color: white;
  }
}

.help-text {
  font-size: 0.8em;
  color: #6d89f5;
}


.modal.show .modal-dialog {
  transform: translate(0, 15%);
}







.swing-in-left-fwd {
  -webkit-animation: swing-in-left-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.swing-in-right-fwd {
	-webkit-animation: swing-in-right-fwd 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-right-fwd 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
